.about-title {
  color: var(--mainBlack);
  text-align: center;
  padding-top: 100px;
}
.sub-title {
  color: var(--primaryColor);
}
.section-center {
  max-width: 1170px;
  width: 85vw;
}
.about-container {
  display: flex;
  justify-content: center;
}
.about-text {
  margin: 80px;
}
