.section-center-contact {
  max-width: 450px;
  margin: 0 auto 80px auto;
}
@media screen and (max-width: 450px) {
  .section-center-contact {
    max-width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .section-center-contact {
    max-width: 300px;
  }
}
