.contacttitle{
    color:var(--mainBlack);
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold ;
    
}
.sub-title{
    color:var(--primaryColor)
}

.contact_form {
    border-radius: 10px;
    margin: 150px;
    margin-left: 300px;
}

