.hero {
  /* min-height: calc(25vh); */
  background-color: var(--secoundaryColor);
  /* position: relative; */
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-title-container {
  width: 30vw;
  max-width: 1170px;
  margin: auto;
}

.bagImage-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 192px;
}

.hero-title {
  font-size: 36.8px;
  color: var(--primaryColor);
}
.hero-subtitle {
  color: var(--mainBlack);
  font-weight: bolder;
}
.hero-text {
  letter-spacing: 1px;
}

.hero-button {
  background: linear-gradient(to left, #fd297b, #ff5864, #ff655b);
  border: var(--primaryColor) solid 1px;
  padding: 8px 16px;
  border-radius: 32px;
  color: var(--mainWhite);
}

.hero-button:hover {
  background: transparent;
  color: var(--mainBlack);
  border: var(--primaryColor) solid 1px;
}

@media screen and (max-width: 1070px) {
  .hero-title {
    font-size: 32px;
    color: var(--primaryColor);
  }

  .bagImage {
    max-width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 955px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hero-title-container {
    width: 75vw;
    margin: 64px auto 32px auto;
  }
  .bagImage-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
  }
  .bagImage {
    max-width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 720px) {
  .hero-container {
    padding-top: 48px;
  }
}

@media screen and (max-width: 380px) {
  .hero-title {
    font-size: 24px;
    color: var(--primaryColor);
  }

  .hero-text {
    font-size: 14px;
  }
  .bagImage {
    max-width: 400px;
    height: auto;
  }
}
