.hero {
  min-height: calc(100vh - 15vh);
  background-color: #ace0f0;
  position: relative;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-title-container {
  width: 30vw;
  max-width: 1170px;
  margin: auto;
}

.bagImage-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 12rem;
}
