.hero {
  background: linear-gradient(
      rgba(243, 243, 243, 0.972),
      rgba(206, 118, 118, 0.2)
    ),
    url("../../img/bannerImage.jpg") center/cover no-repeat fixed;
}

.hero {
  min-height: calc(100vh - 2rem);
  padding: 0 2rem;
}
