.headers-link-container {
  display: flex;
}
.section-center-header {
  width: 85vw;
  max-width: 1170px;
  margin: 32px auto 32px auto;
}

.header-link {
  margin: 0 32px;
  text-transform: uppercase;
  color: var(--primaryColor);
  font-weight: bolder;
  letter-spacing: 2.5px;
  font-size: 12px;
}

.header-link:hover {
  color: var(--mainBlack);
}

@media screen and (max-width: 720px) {
  .headers-link-container {
    display: none;
  }
}
