/* global css added here */

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Alata&family=Poppins:wght@300;400&display=swap");

:root {
  --primaryColor: #ed254e;
  --secoundaryColor: #ace0f0;
  --mainWhite: #fffffc;
  --offWhite: #f7f7f7;
  --mainBlack: #223127;
  --offBlack: #495057;
  --mainGrey: #edebe4;
  --darkGrey: #beb7a4;
  --btnColor: #fd297b;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  background: transparent;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  letter-spacing: var(--mainSpacing);
}

h1 {
  font-size: 52.8px;
}
h2 {
  font-size: 36.8px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 19.2px;
}
p {
  margin-bottom: 20px;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
  display: inline-block;
}
Link {
  text-decoration: none;
  display: inline-block;
}
.section-center {
  width: 85vw;
  max-width: 1170px;
  margin: 64px auto 32px auto;
}
.main-body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  line-height: 1.4;
  font-size: 16px;
}
.main-btn {
  background: var(--btnColor);
  border: var(--primaryColor) solid 1px;
  padding: 8px 16px;
  border-radius: 32px;
  color: var(--mainWhite);
}

.main-btn:hover {
  background: transparent;
  color: var(--mainBlack);
  border: var(--primaryColor) solid 1px;
}

.main-title {
  color: var(--mainBlack);
  text-align: center;
  margin-top: 80px;
}
.main-sub-title {
  color: var(--primaryColor);
}

.input-box {
  padding: 16px;
  font-size: 16px;
  border-bottom: var(--primaryColor) solid 1px;
  width: 400px;
  margin: 16px;
}

.input-box::placeholder {
  font-family: "Lato", sans-serif;
}

.secoundary-btn {
  padding: 16px;
  width: 400px;
  border: var(--primaryColor) solid 1px;
  margin: 16px;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.secoundary-btn:hover {
  background-color: transparent;
  color: var(--mainBlack);
}

.textarea-box{
  padding: 16px;
  font-size: 16px;
  border-color: var(--primaryColor) /*solid 1px*/ ;
  width: 400px;
  margin: 16px;
  height:100px;

}

.textarea-box::placeholder {
  font-family: "Lato", sans-serif;
}
